body
{
    background-color: #f1f1f1;
    margin: 0 !important;
}

#wrapper
{
    width: 100%;
}

#navbar
{
    background-color: #ff6666;
    height: 50px;
    font-family: 'Montserrta', sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navoption
{
    float: left;
    margin-right: 30px;
    margin-left: 30px;
}

.navoption
{
    cursor: pointer;
}

#footer
{
    font-size: 15px;
    text-align: center;
    border: 2px solid gray;
}

.tiles
{
    text-align: center;
}

.tiles img
{
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 2px;
}

.tiles figure
{
    margin: 20px;
}